@use '../config' as *;
.loan-view {
  width: 100%;
  height: 100%;
  position: relative;
  .loan-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #89998d 0%, #5e7e7f 16%, #547172 73%, #445d61 100%);
    .loan-view-left {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 78%;
      padding-bottom: 7%;
      @include pad {
        width: 70%;
      }
      .loan-view-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5vw;
        h3 {
          font-family: var(--serif);
          font-weight: var(--titleWeight);
          font-size: var(--titleSize);
          letter-spacing: 5px;
          color: #fff9de;
          @include pad {
            font-size: 1.8vw;
          }
        }
        .loan-view-title-en {
          width: 17vw;
          margin-bottom: 40%;
          @include pad {
            width: 22vw;
            margin-bottom: 30%;
          }
        }
      }
      .loan-view-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .loan-view-input-container {
          gap: 1.5vw;
          display: flex;
          flex-direction: column;
          .loan-input-item {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            h4 {
              font-family: var(--serif);
              font-size: var(--paraSize);
              font-weight: 400;
              letter-spacing: 4px;
              margin-bottom: 0.5vw;
              color: white;
            }
            .loan-input {
              display: flex;
              align-items: center;
              input {
                width: 14.25vw;
                font-size: var(--paraSize);
                border: 0px;
                border-radius: 2vw;
                padding: 0.5vw 0.75vw;
              }
              p {
                font-family: var(--serif);
                font-size: var(--paraSize);
                font-weight: 400;
                letter-spacing: 2px;
                margin-left: 1vw;
                color: white;
              }
            }
          }
          .loan-select-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5vw;
            h4 {
              font-size: var(--paraSize);
              font-family: var(--serif);
              font-weight: 400;
              letter-spacing: 2px;
              color: white;
            }
            .loan-select-main {
              display: flex;
              align-items: center;
              gap: 2.75vw;
              .loan-select-first,
              .loan-select-second {
                display: flex;
                align-items: center;
                font-size: var(--paraSize);
                font-family: var(--serif);
                font-weight: 400;
                letter-spacing: 2px;
                color: white;
                input {
                  margin-right: 0.5vw;
                }
                input[type='radio'] {
                  width: 0.75vw;
                  height: 0.75vw;
                }
              }
            }
          }
          .loan-click-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5vw;
            margin-top: 8%;
            .loan-click-clear {
              button {
                color: white;
                border: 1px solid #fdf7de;
                background-color: transparent;
              }
            }
            .loan-click-cal {
              button {
                color: white;
                border: none;
                background-color: #82978d;
              }
            }
            button {
              font-size: 0.9vw;
              font-family: var(--serif);
              border-radius: 2vw;
              padding-block: 0.5vw;
              padding-inline: 3.25vw;
              letter-spacing: 2px;
              cursor: pointer;
              transition: all 0.1s;
              &:active {
                transform: scale(0.95);
                transition: all 0.1s;
              }
              @include pad {
                font-size: 1.1vw;
                padding-block: 0.75vw;
              }
            }
          }
        }
        .loan-view-line {
          height: 115%;
          width: 1px;
          margin-inline: 3.5vw;
          background-color: white;
          @include pad {
            margin-inline: 2.5vw;
          }
        }
      }
    }
  }
  .loan-view-main-title {
    position: absolute;
    bottom: 0%;
    left: 24%;
    font-family: var(--cor);
    font-size: 4vw;
    font-weight: 300;
    letter-spacing: 8px;
    opacity: 0.25;
    color: #ffffff;
  }
  .loan-view-cloud-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 38%;
    pointer-events: none;
  }
  .loan-view-cloud-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
    pointer-events: none;
  }
}
