@use '../config' as *;
.loan-view-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28%;
  position: relative;
  @include pad {
    width: 31%;
  }
  .loan-view-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.45;
    mix-blend-mode: multiply;
    background: linear-gradient(
      to top,
      rgba(24, 112, 185, 1) 0%,
      rgba(68, 148, 209, 1) 45%,
      rgba(68, 148, 209, 0) 100%
    );
    pointer-events: none;
  }
  .loan-view-right-container {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5vw;
    z-index: 1;
    @include pad {
      width: auto;
    }
    .loan-view-cal-item {
      width: 3.75vw;
      height: 3.75vw;
      border: 1px solid white;
      border-radius: 50%;
      position: relative;
      margin: auto;
      cursor: pointer;
      transition: all 0.1s;
      @include pad {
        width: 5.75vw;
        height: 5.75vw;
      }
      img {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
      &:active {
        transform: scale(0.95);
        transition: all 0.1s;
      }
    }
    .loan-cal-1 {
      img {
        width: 0.5vw;
        left: 46%;
      }
    }
    .loan-cal-2 {
      img {
        width: 0.95vw;
      }
    }
    .loan-cal-3 {
      img {
        width: 0.9vw;
      }
    }
    .loan-cal-4 {
      img {
        width: 1vw;
      }
    }
    .loan-cal-5 {
      img {
        width: 0.95vw;
      }
    }
    .loan-cal-6 {
      img {
        width: 0.9vw;
      }
    }
    .loan-cal-7 {
      img {
        width: 0.95vw;
      }
    }
    .loan-cal-8 {
      img {
        width: 0.85vw;
      }
    }
    .loan-cal-9 {
      img {
        width: 0.9vw;
      }
    }
    .loan-cal-dot {
      img {
        width: 0.25vw;
      }
    }
    .loan-cal-0 {
      img {
        width: 1vw;
      }
    }
    .loan-cal-icon-2 {
      img {
        width: 2vw;
        @include pad {
          width: 2.5vw;
        }
      }
    }
    .loan-view-right-submit {
      grid-column: 1 / span 3;
      grid-row: 5 / span 1;
      font-family: var(--serif);
      font-size: 0.9vw;
      font-weight: 500;
      letter-spacing: 4px;
      text-align: center;
      border: none;
      border-radius: 2vw;
      padding-block: 0.5vw;
      margin-top: 0.5vw;
      color: black;
      background-color: white;
      transition: all 0.1s;
      &:active {
        transform: scale(0.95);
        transition: all 0.1s;
      }
      @include pad {
        font-size: 1.25vw;
        padding-block: 0.75vw;
      }
    }
  }
}
