@use '../config' as *;
.yellow-point {
  position: absolute;
  top: 0;
  left: 0;
  width: 2%;
  cursor: pointer;
  @include pad {
    width: 3%;
  }
  .yellow-point-img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .radiation {
    position: absolute;
    left: 50%;
    top: 50%;
    // margin: 0 auto;
    width: 1.5vw;
    height: 1.5vw;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s;
    transform: translate(-50%, -50%);
    .circle {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #a07d48b2;
      animation-name: radiation;
      animation-duration: 1.35s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    > :nth-child(2) {
      animation-delay: 0.25s;
    }
    > :nth-child(3) {
      animation-delay: 0.5s;
    }
  }
  &:hover {
    .radiation {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}
@keyframes radiation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.point-active {
  .radiation {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.kitchen-point-1 {
  top: 49%;
  left: 66%;
}

.kitchen-point-2 {
  top: 48%;
  left: 53.5%;
}

.kitchen-point-3 {
  top: 58%;
  left: 25.5%;
}

.kitchen-point-4 {
  top: 24%;
  left: 80%;
}

.kitchen-point-5 {
  top: 60%;
  left: 67%;
}

.kitchen-point-6 {
  top: 45%;
  left: 26%;
}

.kitchen-point-7 {
  top: 48%;
  left: 81%;
}

.kitchen-point-8 {
  top: 58%;
  left: 5%;
}
