@use 'swiper/css';
@use 'swiper/css/scrollbar';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --serif: 'Noto Serif TC', serif;
  --sans: 'Noto Sans TC';
  --micro: 'Microsoft JhengHei';
  --lato: 'Lato', sans-serif;
  --cor: 'Cormorant Garamond', sans-serif;
  //45pt
  --titleSize: 1.7vw;
  //28pt
  --paraSize: 1vw;
  //title font-weight
  --titleWeight: 500;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

img,
video,
canvas,
iframe {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100dvh;
  background-color: #5f8081;
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }
}

.z-15 {
  z-index: 15 !important;
}
