.imgBoxIn {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.imgBoxIn .box {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  display: flex;
  align-items: center;
}
@media all and (max-width: 1400px) {
  .imgBoxIn .box {
    display: flex;
    align-items: center;
  }
}

.zoom {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  padding: 0.6vw;
  margin-bottom: 1vw;
  position: fixed;
  bottom: 0%;
  left: 77%;
  gap: 1vw;
  z-index: 16;
}
@media all and (max-width: 1400px) {
  .zoom {
    position: absolute;
    left: 77%;
    bottom: 5%;
    gap: 1vw;
  }
}

.zoom img {
  width: 2vw;
  margin: 0.25vw 0;
  cursor: pointer;
}
@media all and (max-width: 1400px) {
  .zoom img {
    width: 2.75vw;
  }
}