@use '../config' as *;

.floor-plan-inner-fancybox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to top,
    rgba(67, 93, 96, 1) 0%,
    rgba(83, 113, 113, 1) 26%,
    rgba(94, 126, 127, 1) 79%,
    rgba(149, 161, 144, 1) 100%
  );
  width: 100%;
  height: 100%;
  z-index: 18;
  .floor-plan-inner-fancybox-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .floor-plan-inner-fancybox-back {
      position: absolute;
      right: 3vw;
      top: 45%;
      width: 3.25vw;
      background-color: transparent;
      border: none;
      cursor: pointer;
      @include pad {
        right: 4vw;
        z-index: 5;
      }
    }
    .floor-plan-inner-fancybox-left {
      width: 22.5%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      letter-spacing: 2px;
      padding-bottom: 9vw;
      transition: opacity 0.5s;
      h1 {
        color: white;
        font-size: 4.5vw;
        font-weight: 500;
        text-align: center;
        z-index: 8;
      }
      .floor-plan-inner-fancybox-left-item-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--serif);
        font-weight: 600;
        font-size: 1.75vw;
        width: 18.5vw;
        color: white;
        z-index: 8;
      }
      .floor-plan-inner-fancybox-left-item-1-line {
        width: 12.25%;
        height: 1px;
        margin-bottom: 0.55vw;
        background-color: white;
      }
      .floor-plan-inner-fancybox-left-item-2 {
        text-align: end;
        font-family: var(--serif);
        font-weight: 500;
        font-size: 1vw;
        margin-bottom: 1.25vw;
        color: white;
        z-index: 8;
      }
      .floor-plan-inner-fancybox-left-item-inner {
        width: 10.5vw;
        margin-top: 7%;
      }
      @include pad {
        h1 {
          font-size: 4.75vw;
        }
        .floor-plan-inner-fancybox-left-item-1 {
          font-size: 2vw;
          width: 15.5vw;
        }
        .floor-plan-inner-fancybox-left-item-2 {
          font-size: 1.3vw;
        }
        .floor-plan-inner-fancybox-left-item-inner {
          width: 13.5vw;
          margin-top: 7%;
        }
      }
    }
    .floor-plan-inner-fancybox-left.floor-plan-inner-fancybox-left-hide {
      opacity: 0;
      transition: opacity 0.5s;
    }
    .floor-plan-inner-fancybox-right {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .imgBoxIn {
        width: 65%;
        height: auto;
        padding-block: 1vw;
        align-self: self-end;
        margin-right: 8%;
        transition: all 0.75s;
        @include pad {
          margin-right: 9%;
        }
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        .anchor-area {
          position: relative;
          width: auto;
          height: 100%;
          .anchor-area-map {
            height: 100%;
            width: 100%;
            position: relative;
            .imgBoxMap {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .plan-inner-fancybox-left-hide {
        opacity: 0;
        transition: opacity 0.5s;
      }
      .zoom {
        padding: 0.6vw;
        right: 0;
        bottom: 0;
        position: absolute;
        left: unset;
        justify-content: flex-end;
        margin-inline: 3vw;
        margin-bottom: 7vw;
        z-index: 11;
        @include pad {
          margin-inline: 4vw;
          margin-bottom: 9vw;
        }
      }
    }
    .floor-plan-inner-fancybox-right.floor-plan-inner-fancybox-right-show {
      .imgBoxIn {
        width: 115%;
        height: 100%;
        transition: all 0.75s;
      }
    }
    .plan-inner-fancybox-zIndex {
      .imgBoxIn {
        height: auto;
        z-index: 15;
      }
    }
  }
  .floor-plan-inner-fancybox-2 {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    transition: opacity 0.5s;
    img {
      height: 100%;
      object-fit: cover;
    }
    p {
      position: absolute;
      right: 5%;
      bottom: 10%;
      font-size: 0.65vw;
      color: white;
      z-index: 2;
      letter-spacing: 2px;
      @include pad {
        right: 3%;
        bottom: 12%;
        font-size: 1.1vw;
      }
    }
    @include pad {
      height: 100%;
    }
    .floor-plan-inner-fancybox-2-swiper {
      position: relative;
      @include pad {
        height: 100%;
      }
      .swiper-slide {
        margin: auto;
      }
    }
    .floor-plan-inner-fancybox-back {
      position: absolute;
      right: 3vw;
      top: 45%;
      width: 3.25vw;
      border: none;
      border-radius: 50%;
      background-color: #537171;
      filter: drop-shadow(0px 0px 8px black);
      z-index: 5;
      cursor: pointer;
      @include pad {
        right: 4vw;
      }
    }
  }

  .floor-plan-inner-fancybox-2-spec {
    margin: auto;
    width: auto;
    height: 95%;
    z-index: 1;
    img {
      height: 100%;
      object-fit: cover;
    }
    p {
      bottom: 3%;
    }
    .floor-plan-inner-fancybox-2-swiper {
      height: 100%;
      .swiper-slide {
        width: auto !important;
      }
    }
  }
  .floor-plan-prev,
  .floor-plan-next {
    color: #ccc;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;

    &::after {
      font-size: 75px;
    }
  }
  .floor-plan-prev {
    left: 2%;
  }
  .floor-plan-next {
    right: 2%;
  }

  .plan-inner-fancybox-left-hide {
    opacity: 0;
    transition: opacity 0.5s;
  }
  // .floor-plan-inner-fancybox-back {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 5;
  // }
}
.floor-plan-inner-fancybox-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 26%;
  transition: all 0.5s;
  @include pad {
    width: 26vw;
  }
}
.floor-plan-inner-fancybox-left-bottom.floor-plan-inner-fancybox-left-hide {
  opacity: 0;
  transition: opacity 0.5s;
}
.a2-inner {
  .floor-plan-inner-fancybox-1 {
    .floor-plan-inner-fancybox-left {
      width: 29.5%;
      .floor-plan-inner-fancybox-left-item-inner {
        margin-top: 5%;
      }
    }
    .floor-plan-inner-fancybox-right {
      .imgBoxIn {
        width: 60%;
      }
    }
  }
}
.a3-inner {
  .floor-plan-inner-fancybox-1 {
    .floor-plan-inner-fancybox-left {
      width: 26.5%;
    }
    .floor-plan-inner-fancybox-right {
      .imgBoxIn {
        @include pad {
          width: 67%;
        }
      }
    }
  }
}
.a5-inner {
  .floor-plan-inner-fancybox-1 {
    .floor-plan-inner-fancybox-left {
      width: 26.5%;
    }
    .floor-plan-inner-fancybox-right {
      .imgBoxIn {
        width: 59%;
        @include pad {
          width: 65%;
        }
      }
    }
  }
}
.a6-inner {
  .floor-plan-inner-fancybox-1 {
    .floor-plan-inner-fancybox-left {
      width: 26.5%;
    }
    .floor-plan-inner-fancybox-right {
      .imgBoxIn {
        width: 59%;
        @include pad {
          width: 65%;
        }
      }
    }
  }
}
.a7-inner {
  .floor-plan-inner-fancybox-1 {
    .floor-plan-inner-fancybox-left {
      width: 30.5%;
      .floor-plan-inner-fancybox-left-item-inner {
        margin-top: 5%;
      }
    }
    .floor-plan-inner-fancybox-right {
      .imgBoxIn {
        width: 57%;
        @include pad {
          width: 62%;
        }
      }
    }
  }
}
