@use '../config' as *;

.floor-point {
  position: absolute;
  cursor: pointer;
  z-index: 17;
  .floor-green-point {
    width: 1.5vw;
    height: 1.5vw;
    @include pad {
      width: 1.75vw;
      height: 1.75vw;
    }
    p {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: white;
      background-color: #256634;
    }
    .radiation {
      top: 0%;
      opacity: 0;
      transition: opacity 0.5s;
      .circle {
        background-color: #289b43;
      }
    }
    @include pad {
      p {
        font-size: 0.9vw;
      }
    }
  }
  &:hover {
    .radiation {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
  .floor-red-point {
    &:hover {
      .radiation {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
  .floor-red-point-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    z-index: 12;
    font-size: 0.9vw;
    color: white;
    background-color: #435d60;
    pointer-events: auto;
    border-radius: 50%;
    cursor: pointer;
  }
  .floor-red-stop {
    .radiation {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  .floor-red-start {
    .radiation {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}
//頂樓
.point-r1-1 {
  top: 45%;
  left: 35%;
}
.point-r1-2 {
  top: 50%;
  left: 63%;
}
.point-r1-3 {
  top: 13%;
  left: 78%;
}
.point-r1-4 {
  top: 4%;
  left: 62%;
}
.point-r1-5 {
  top: 84%;
  left: 35%;
}
.floor-roof-swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: white;
  .floor-roof-swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .swiper-slide {
      .floor-roof-swiper-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 4vw;
        padding-bottom: 7vw;
        img {
          width: auto;
          height: 100%;
          object-fit: cover;
        }
      }
      .floor-roof-2-1 {
        img {
          height: 78%;
        }
      }
      .floor-roof-5-1 {
        img {
          height: 85%;
        }
      }
      .floor-roof-8-1 {
        img {
          height: 65%;
        }
      }
    }
  }
  .floor-roof-swiper-bottom {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 45%;
    z-index: 21;
  }
  .floor-roof-swiper-top {
    position: absolute;
    right: 10%;
    top: 0%;
    width: 4%;
    z-index: 21;
  }
  .floor-roof-swiper-next {
    right: 2%;
  }
  .floor-roof-swiper-prev {
    left: 2%;
  }
  .floor-roof-swiper-next,
  .floor-roof-swiper-prev {
    color: black;
    &::after {
      font-size: 3vw;
    }
  }
}

//1F
.point-1-1F {
  top: 57%;
  left: 56%;
}
.point-2-1F {
  top: 20%;
  left: 87.5%;
}
.point-3-1F {
  top: 44%;
  left: 48.5%;
}
.point-4-1F {
  top: 88%;
  left: 37%;
}
.point-5-1F {
  top: 27.5%;
  left: 68%;
}
.point-6-1F {
  top: 39.5%;
  left: 11.5%;
}
.point-7-1F {
  top: 61.5%;
  left: 87.5%;
}
.point-8-1F {
  top: 71%;
  left: 48%;
}
.point-9-1F {
  top: 70%;
  left: 42.5%;
}

//-- 2F --
.point-1-2F{
  top: 17%;
  left: 47%;
}
.point-2-2F{
  top: 77%;
  left: 47%;
}

.radiation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: 1.5vw;
  height: 1.5vw;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s;
  .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(229, 28, 28, 0.4862745098);
    animation-name: radiation;
    animation-duration: 1.35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  > :nth-child(2) {
    animation-delay: 0.25s;
  }
  > :nth-child(3) {
    animation-delay: 0.5s;
  }
}

@keyframes radiation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

//2F
.a1-2F {
  top: 88%;
  left: 12.7%;
}
.a2-2F {
  top: 67%;
  left: 14%;
}
.a3-2F {
  top: 44%;
  left: 13%;
}
.a5-2F {
  top: 44%;
  left: 22.5%;
}
.a6-2F {
  top: 44%;
  left: 32.25%;
}
.a9-2F {
  top: 90%;
  left: 22.5%;
}
.b1-2F {
  top: 47%;
  left: 67%;
}
.b2-2F {
  top: 28.5%;
  left: 66%;
}
.b3-2F {
  top: 15.5%;
  left: 67%;
}
.b5-2F {
  top: 15%;
  left: 79.25%;
}
.b6-2F {
  top: 15%;
  left: 86%;
}
.b7-2F {
  top: 28.5%;
  left: 88.5%;
}
.b8-2F {
  top: 47%;
  left: 86.5%;
}
.b9-2F {
  top: 47%;
  left: 79.25%;
}
//3F
.a1-3F {
  top: 88%;
  left: 12.7%;
}
.a2-3F {
  top: 67%;
  left: 14%;
}
.a3-3F {
  top: 44%;
  left: 13%;
}
.a5-3F {
  top: 44%;
  left: 22.5%;
}
.a6-3F {
  top: 44%;
  left: 32.25%;
}
.a7-3F {
  top: 67%;
  left: 35%;
}
.a8-3F {
  top: 88%;
  left: 32.5%;
}
.a9-3F {
  top: 90%;
  left: 22.5%;
}
.b1-3F {
  top: 47%;
  left: 67%;
}
.b2-3F {
  top: 28.5%;
  left: 66%;
}
.b3-3F {
  top: 15.5%;
  left: 67%;
}
.b5-3F {
  top: 15%;
  left: 79.25%;
}
.b6-3F {
  top: 15%;
  left: 86%;
}
.b7-3F {
  top: 28.5%;
  left: 88.5%;
}
.b8-3F {
  top: 47%;
  left: 86.5%;
}
.b9-3F {
  top: 47%;
  left: 79.25%;
}
//4-9F
.a1-4F-9F {
  top: 88%;
  left: 12.7%;
}
.a2-4F-9F {
  top: 67%;
  left: 14%;
}
.a3-4F-9F {
  top: 44%;
  left: 13%;
}
.a5-4F-9F {
  top: 44%;
  left: 22.5%;
}
.a6-4F-9F {
  top: 44%;
  left: 32.25%;
}
.a7-4F-9F {
  top: 67%;
  left: 35%;
}
.a8-4F-9F {
  top: 88%;
  left: 32.5%;
}
.a9-4F-9F {
  top: 90%;
  left: 22.5%;
}
.b1-4F-9F {
  top: 47%;
  left: 67%;
}
.b2-4F-9F {
  top: 28.5%;
  left: 66%;
}
.b3-4F-9F {
  top: 15.5%;
  left: 67%;
}
.b5-4F-9F {
  top: 15%;
  left: 79.25%;
}
.b6-4F-9F {
  top: 15%;
  left: 86%;
}
.b7-4F-9F {
  top: 28.5%;
  left: 88.5%;
}
.b8-4F-9F {
  top: 47%;
  left: 86.5%;
}
.b9-4F-9F {
  top: 47%;
  left: 79.25%;
}
//10F
.a1-10F {
  top: 88%;
  left: 12.7%;
}
.a2-10F {
  top: 67%;
  left: 14%;
}
.a3-10F {
  top: 44%;
  left: 13%;
}
.a5-10F {
  top: 44%;
  left: 22.5%;
}
.a6-10F {
  top: 44%;
  left: 32.25%;
}
.a7-10F {
  top: 67%;
  left: 35%;
}
.a8-10F {
  top: 88%;
  left: 32.5%;
}
.a9-10F {
  top: 90%;
  left: 22.5%;
}
.b1-10F {
  top: 47%;
  left: 67%;
}
.b2-10F {
  top: 28.5%;
  left: 66%;
}
.b3-10F {
  top: 15.5%;
  left: 67%;
}
.b5-10F {
  top: 15%;
  left: 79.25%;
}
.b6-10F {
  top: 15%;
  left: 86%;
}
.b7-10F {
  top: 28.5%;
  left: 88.5%;
}
.b8-10F {
  top: 47%;
  left: 86.5%;
}
.b9-10F {
  top: 47%;
  left: 79.25%;
}
