@use '../config' as *;
.life-fancybox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #5f8081;
  overflow: hidden;
  z-index: 16;
  .life-swiper {
    width: 100%;
    height: 100%;
    .life-swiper-prev,
    .life-swiper-next {
      width: 2%;
      &::after {
        display: none;
      }
    }
    .life-swiper-prev {
      left: 2%;
      @include pad {
        left: 2.5%;
      }
    }
    .life-swiper-next {
      right: 2%;
      @include pad {
        right: 2.5%;
      }
    }
    .life-swiper-main {
      width: 100%;
      height: 100%;
      .life-swiper-item {
        position: relative;
        .life-swiper-text {
          position: absolute;
          top: 83%;
          right: 0%;
          display: flex;
          flex-direction: column;
          font-size: 1.5vw;
          letter-spacing: 7px;
          text-align: center;
          width: 18.5%;
          @include pad {
            width: 24.5%;
          }
          p {
            font-family: var(--serif);
            font-weight: 600;
            text-align: left;
            color: black;
            background-color: white;
            padding-left: 8%;
            padding-block: 4%;
            width: 100%;
          }
          .life-swiper-line {
            width: 100%;
            height: 9px;
            background-color: #5f8081;
            @include pad {
              height: 6px;
            }
          }
        }
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .life-fancy-button {
    position: absolute;
    right: 3vw;
    top: 2vw;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    z-index: 1;
    @include pad() {
      right: 3%;
      top: 7%;
      width: 3.5vw;
    }
  }
}
