@use '../config' as *;
#life-view {
  width: 100%;
  height: 100%;
  background-color: #5f8081;
  overflow: hidden;
  .life-view-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    mask-image: url(../../img/rise/mask_1.png);
    mask-size: 200% 200%;
    mask-repeat: no-repeat;
    mask-position: 200% -100%;
    -webkit-mask-size: 200% 200%;
    -webkit-mask-position: 200% -100%;
    .life-view-left {
      width: 76.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      .life-map {
        object-fit: fill;
        height: 100%;
        @include pad {
          object-fit: fill;
          height: 74%;
        }
      }
      .life-view-point {
        position: absolute;
        width: 2vw;
        top: 0;
        left: 0;
        transition: all 0.5s;
        cursor: pointer;
        > img {
          position: relative;
          z-index: 1;
        }
        .radiation {
          top: 10%;
          opacity: 0;
          width: 2vw;
          height: 2vw;
          transition: opacity 0.5s;
          .circle {
            background-color: rgba(229, 28, 28, 0.4862745098);
          }
        }
      }
      .life-point-1 {
        top: 52%;
        left: 23.25%;
        @include pad {
          left: 23.5%;
        }
      }
      .life-point-2 {
        top: 73%;
        left: 19%;
        @include pad {
          top: 67.5%;
          left: 19.25%;
        }
      }
      .life-point-3 {
        top: 75%;
        left: 70%;
        @include pad {
          top: 68.25%;
        }
      }
      .life-point-4 {
        top: 53%;
        left: 27%;
        @include pad {
          top: 54%;
          left: 28%;
        }
      }
      .life-point-5 {
        top: 31%;
        left: 5%;
        @include pad {
          top: 36%;
        }
      }
      .life-point-6 {
        top: 80%;
        left: 93%;
        @include pad {
          top: 72.15%;
        }
      }
      .life-point-7 {
        top: 79%;
        left: 96.25%;
        @include pad {
          top: 71.8%;
          left: 96.15%;
        }
      }
      .life-point-8 {
        top: 37%;
        left: 80.5%;
        @include pad {
          top: 40%;
        }
      }
      .life-point-9 {
        top: 41%;
        left: 71.5%;
        @include pad {
          top: 43.25%;
        }
      }
      .life-point-10 {
        top: 71%;
        left: 91.5%;
        @include pad {
          top: 65.5%;
        }
      }
      .life-point-11 {
        top: 43%;
        left: 78.5%;
        @include pad {
          top: 45%;
        }
      }
      .life-point-12 {
        top: 46%;
        left: 29.5%;
      }
      .life-point-13 {
        top: 71%;
        left: 82.5%;
        @include pad {
          top: 65.5%;
        }
      }
      .life-point-14 {
        top: 34%;
        left: 51.5%;
        @include pad {
          top: 38%;
        }
      }
      .life-point-15 {
        top: 62%;
        left: 32.5%;
        @include pad {
          top: 59%;
        }
      }

      .life-point-16 {
        top: 61%;
        left: 65.2%;
        @include pad {
          top: 58%;
        }
      }
      .life-point-17 {
        top: 44%;
        left: 56.5%;
      }
      .active {
        transition: all 0.5s;
        animation: pointAni 1.5s ease infinite forwards;
        .radiation {
          opacity: 1;
          transition: opacity 0.5s;
        }
      }
      @keyframes pointAni {
        0% {
          transform: translateY(0%);
        }
        50% {
          transform: translateY(-30%);
        }
      }
      .life-mask {
        position: absolute;
        top: 56.5%;
        left: 40.25%;
        width: 8%;
        height: 9%;
        clip-path: polygon(0 0, 100% 1%, 100% 105%, 0 100%);
        .life-mask-inner {
          position: relative;
          width: 100%;
          height: 100%;
          .life-mask-light {
            position: absolute;
            top: -36%;
            left: 0;
            width: 100%;
            height: 164%;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.7) 30%,
              rgb(255, 255, 255) 50%,
              rgba(255, 255, 255, 0.7) 70%,
              rgba(255, 255, 255, 0) 100%
            );
            animation: lightMove 2.5s infinite forwards;
            @keyframes lightMove {
              0% {
                transform: rotate(45deg) translateX(-140%);
              }
              100% {
                transform: rotate(45deg) translateX(140%);
              }
            }
          }
        }
        @include pad {
          top: 54.5%;
          width: 8%;
          height: 8%;
        }
      }
    }
    .life-view-right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      width: 24%;
      .life-view-right-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 0%;
        @include pad {
          margin-top: 0%;
        }
        h3 {
          font-family: var(--serif);
          font-weight: var(--titleWeight);
          font-size: var(--titleSize);
          letter-spacing: 5px;
          color: #fff9de;
          @include pad {
            font-size: 24px;
          }
        }
        .life-view-right-top-p-en {
          width: 72%;
          margin-top: 7%;
        }
      }
      .life-view-right-bottm {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2.5vw;
        margin-top: 25%;
        .life-view-right-bottom-item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          gap: 0.75vw;
          cursor: pointer;
          &::after {
            content: '';
            position: absolute;
            bottom: -40%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: white;
          }
          .life-list-squre {
            width: 0.4vw;
            height: 0.4vw;
            transform: rotate(45deg);
            background-color: #aeffe0;
          }
          .life-list-text {
            display: flex;
            align-items: center;
            gap: 0.75vw;
            transition: all 0.5s;
            .life-list-zh {
              font-family: var(--serif);
              font-weight: 300;
              font-size: 1.25vw;
              letter-spacing: 6px;
              color: white;
              @include pad {
                font-size: 1.35vw;
              }
            }
            .life-list-en {
              font-family: var(--cor);
              font-weight: 400;
              font-size: 1.1vw;
              letter-spacing: 2px;
              color: #fff9de;
              @include pad {
                font-size: 1.2vw;
              }
            }
          }
        }
        .active {
          .life-list-text {
            transform: translateX(1vw);
            transition: all 0.5s;
          }
        }
        .life-view-right-cloud {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 68.25%;
          @include pad {
            width: 28vw;
          }
        }
      }
    }
  }
}
