@use '../config' as *;
.craft-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .craft-view-conateinr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .craft-view-left {
      position: relative;
      width: 54.25vw;
      margin-left: 3%;
      .craft-view-light-1 {
        position: absolute;
        top: -24%;
        right: -9%;
        width: 25.7vw;
        mix-blend-mode: luminosity;
      }
      .craft-view-light-2 {
        position: absolute;
        bottom: -21%;
        left: -16%;
        width: 37.25vw;
        mix-blend-mode: luminosity;
      }
    }
    .craft-view-right {
      width: 24vw;
      margin-left: 8%;
    }
  }
}
