@use '../config' as *;
.team-fancybox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(68, 94, 97, 1) 0%,
    rgba(84, 114, 115, 1) 44%,
    rgba(95, 128, 129, 1) 100%
  );
  z-index: 10;
  .team-fancy-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    .team-fancy-right-light {
      position: absolute;
      right: 0;
      top: 0;
      width: 25.25%;
      z-index: -1;
      pointer-events: none;
      @include pad {
        width: 30%;
      }
    }
    .team-fancy-left-light {
      position: absolute;
      left: 5.5%;
      top: 5%;
      width: 17.25%;
      z-index: -1;
      @include pad {
        left: 4.5%;
        top: 5%;
        width: 22.25%;
      }
    }
    .team-fancy-close {
      position: absolute;
      right: 3vw;
      top: 45%;
      width: 3.25vw;
      background-color: transparent;
      border: none;
      cursor: pointer;
      @include pad {
        right: 2.5vw;
        width: 4vw;
      }
    }
    .team-fancy-fixed {
      position: absolute;
      left: 0;
      top: 0;
      width: 35%;
      pointer-events: none;
      @include pad {
        width: 100%;
      }
    }
    .team-fancy-left {
      position: relative;
      width: 29.75%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include pad {
        width: 32%;
      }
      .team-fancy-people {
        width: 92%;
        margin-top: 33%;
        @include pad {
          width: 100%;
        }
      }
      .team-fancy-left-title {
        position: absolute;
        left: 19%;
        top: 10.5%;
        width: 20.5%;
        @include pad {
          left: 16.5%;
          top: 11.5%;
          width: 22.5%;
        }
      }
      .team-fancy-name {
        position: absolute;
        left: 18%;
        bottom: 10.5%;
        width: 43.25%;
        @include pad {
          left: 10%;
          bottom: 14.5%;
          width: 49%;
        }
      }
    }
    .team-fancy-right {
      width: 66%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include pad {
        width: 68%;
      }
      h3 {
        font-family: var(--serif);
        font-weight: 400;
        font-size: 1.5vw;
        letter-spacing: 6px;
        margin-bottom: 5%;
        color: #fff9de;
        @include pad {
          font-size: 1.6vw;
          letter-spacing: 4px;
        }
      }

      p {
        font-family: var(--micro);
        font-size: 1vw;
        letter-spacing: 2px;
        line-height: 1.8;
        color: white;
        @include pad {
          font-size: 1.2vw;
        }
      }
      .team-fancy-line {
        height: 1px;
        width: 100%;
        opacity: 0.5;
        margin-block: 4.5%;
        background-color: white;
      }
      .team-fancy-title {
        width: 85%;
        @include pad {
          width: 89%;
        }
      }
      .team-fancy-para {
        width: 85%;
        @include pad {
          width: 89%;
        }
        .team-fancy-para-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          white-space: pre-line;
          gap: 7vw;
          @include pad {
            gap: 2vw;
          }
        }
      }
      .team-fancy-content {
        width: 100%;

        .team-fancy-swiper {
          width: 85%;
          .team-fancy-swiper-container {
            padding-bottom: 3%;
            .swiper-pagination-bullet-active {
              background-color: #aeffe0;
            }
            .team-fancy-prev,
            .team-fancy-next {
              top: 40%;
              @include pad {
                width: 3.5%;
              }
            }
          }
          .team-fancy-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.25vw;
            cursor: pointer;
            p {
              font-family: var(--micro);
              font-size: 0.9vw;
              font-weight: 400;
              letter-spacing: 2px;
              color: white;
              @include pad {
                font-size: 1.2vw;
              }
            }
          }
        }
      }
    }
    .team-fancy-bump-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url('/src/assets/img/team/team-bump-box-bg@2x.webp');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 1;
      display: flex;
      .team-fancy-bump-box-img {
        width: 89%;
        margin: auto;
      }
      .team-fancy-bump-box-para {
        position: absolute;
        right: 0;
        bottom: 12%;
        width: 21.5%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
        padding-block: 1%;
        @include pad {
          bottom: 20%;
          width: 21.5%;
        }
        .team-fancy-bump-box-squre {
          width: 0.5vw;
          height: 0.5vw;
          transform: rotate(45deg);
          background-color: #aeffe0;
          margin-inline: 1.25vw;
        }
        p {
          font-family: var(--serif);
          font-size: 1.25vw;
          letter-spacing: 6px;
          color: white;
          @include pad {
            letter-spacing: 4px;
            font-size: 1.35vw;
          }
        }
      }
      .bump-close {
        position: absolute;
        right: 3vw;
        top: 2vw;
        width: 2.5vw;
        background-color: transparent;
        border: none;
        cursor: pointer;
        @include pad {
          right: 3%;
          top: 7%;
          width: 5vw;
        }
      }
    }
  }
  .people-2 {
    .team-fancy-left {
      .team-fancy-people {
        width: 90%;
        margin-top: 14%;
        @include pad {
          width: 100%;
        }
      }
      .team-fancy-name {
        width: 41.25%;
        @include pad {
          left: 10%;
          bottom: 14.5%;
          width: 48.25%;
        }
      }
    }
  }
  .people-3 {
    .team-fancy-left {
      .team-fancy-people {
        width: 88%;
        margin-top: 12%;
        @include pad {
          width: 95%;
        }
      }
      .team-fancy-left-title {
        width: 7.5%;
        @include pad {
          width: 8.5%;
          left: 20%;
        }
      }
      .team-fancy-name {
        width: 59.25%;
        @include pad {
          width: 65.25%;
        }
      }
    }
  }
}
